#stone{data: {user_id: "#{current_user_id}", stone_id: stone.id}}
  %h2= stone.title
  %h3= stone.description
  - if goal.nil?
    %button#add_goal.btn.btn-primary Add To Your Goals
  - else
    .resources.sortable
      = render partial: 'saved_resources/resources_stone', collection: goal.queued_items, as: :saved_resource
