#stone{data: {user_id: "#{current_user_id}", stone_id: stone.id}}
  %h2= stone.title
  %h3= stone.description
  - if goal.nil?
    %button#add_goal Add Goal
  - else
    .gridster
      %ul.sortable
        - goal.resources_stones.each_with_index do |resources_stone, i|
          - row, col = get_coordinates i
          = render partial: 'resources/resources_stone', locals: { resources_stone: resources_stone , row: row, col: col}
