.form
  %h1 Create a Stone

  = simple_form_for @stone, url: stones_path, method: 'POST', html: { class: "form-vertical" } do |f|
    = f.input :title
    = f.input :description, input_html: { rows: 5 }
    = f.button :submit, "Create Stone", :class => 'btn-primary'

