.search_result
  .title
    = link_to stone.title, stone_path(stone)
  .description
    = stone.description
  .members
    = stone.goals.count.to_s + " Members"
  .resources
    = stone.resources.count.to_s + " Resources"

