#home
  #animated
    .motto
      .item Build a Community.
      .item Set a Goal.
      .item Stay Sharp.
      = image_tag( "logo.png", id: "logo")
  #search
    .title_wrapper
      %h1 What do you want to learn?
    = form_tag search_stones_path, remote: true do
      = text_field_tag :query, nil, placeholder: "&#xf002; Type Something...".html_safe
  .results

