#animated{
  position: absolute;
  width: 800px;
  margin: 0 auto;
  top: 20px;
  height: 100px;
  overflow: hidden;
  .motto {
    position: relative;
    text-align: center;
    font-size: 60pt;

    .item {
      display: none;
    }
    #logo{
      display: none;
    }
  }
}
