$sidebar-main-color: #1A1D22;
$sidebar-highlight-color: #22262E;

.sidebar-nav-fixed {
	position: fixed;
	width:240px;
	height: 100%;
	background-color: $sidebar-main-color;
	left: 0px;
	#search {
		background-color: white;
		padding: none;
		input { 
			background-color: $sidebar-main-color;
			border: none;
			border-radius: 0px;
			margin: 0 auto;
			width: 228px; 
			height: 100%;
		}
	}
}

.container {
	margin-left: 270px;
}

.user-info {
  margin-left: 0;
  color: white;
}

.stones-list {
  margin-left: 0;
  color: white;
}

body {
	min-width: 1050px;
}

li {
	list-style: none;
}

.resource p {
	margin-left: 10px;
}

.nav {
	margin-left: 30px;
	margin-right: 15px;
	margin-top: 10px;
	li {
		&:hover{ background-color: $sidebar-highlight-color; }
		a{ 
			margin-left: 5px;
			height: 25px;
			&:hover{
				background-color: $sidebar-highlight-color;
			}
		}
	}

}

.nav-head {
	height: 60px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 20px;
	background-color: $sidebar-highlight-color;
	
	.logo {	
		float: left;
		font-size: 1.7em; 
		vertical-align: middle;
		margin-top: 10px
	}
	
	img {
		border-radius: 20px;
		float: right;
	}
}

