.sidebar-nav-fixed {
  position: fixed;
  padding: 0 0 0 10px;
  width:240px;
  height: 100%;
  background-color: #22262E;
	left: 0px;
}

.container {
  margin-left: 240px;
}

body {
	min-width: 1050px;
}

li {
	list-style: none;
}

.resource p {
	margin-left: 10px;
}

.nav-head {
	height: 60px;
	padding-left: 10px;
	padding-top: 20px;
}

.nav-head a {
	font-size: 1.5em;
}
