$sidebar-main-color: #1A1D22;
$sidebar-highlight-color: #22262E;

#search {
	position: relative;
	width: 50%;
	margin: 0 auto;
	top: 150px;
	color: #555;
	font-size: 1.5em;
  font-family:'Open Sans Condensed',sans-serif;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);

  .title_wrapper {
    
    width: 500px;
    height: 75px;

    h1:before {
      font-family:'Open Sans Condensed',sans-serif;
      position: absolute;
      content: ">";
      font-size: 50px;
      left: -40px;
      opacity: 0.50;
    }
  }

	input {
    font-family:'Open Sans Condensed',sans-serif;
		margin: 0 auto;
		background:none;
		border:none;
		color: #777777;
    display: block;
    font-size: 26px;
    padding: 10px;
    text-align: left;
    outline: none;

	}

	input[name='query'] {
    font-family:'Open Sans Condensed',sans-serif;
		border-bottom:1px solid #aaa;
	}

  .results {
    margin: 10px 0 10px 0;
    text-align: right;
  }
}
