$sidebar-main-color: #1A1D22;
$sidebar-highlight-color: #22262E;

.left_nav {
  position: fixed;
  display: inline;
  width: 15%;
  height: 100%;
  top:0px;
  left: 0px;
  background-color: $sidebar-main-color;
  margin: 0;

  .logo {
    float: left;
    font-size: 1.7em;
    vertical-align: middle;
    margin-top: 10px;
  }

  .gravatar {
      height: 60px;
      padding-left: 10px;
      padding-right: 20px;
      padding-top: 20px;
      background-color: $sidebar-highlight-color;
   
    img {
      border-radius: 20px;
      float: right;
    }
  }
  
  .mini-search {
    border-radius: 5px;
    margin: 20px auto 20px;

    input {
      padding: 5px;
      color: white;
      background: none;
      margin: 0 auto;
      width: 90%;
      outline: none;
      border-radius: 15px; 
    }
  }
}

.top_nav {
  position: relative;
  top: 0px;
  width: 100%;
  height: 30px;

  ul {
    float: right;
    line-height: 30px;

    li {
      display: inline-block;
      margin-right: 25px;
    }

  }
}
