#messages{
  position: relative;
  padding-top: 15px;
  padding-bottom: 130px;
  width: 100%;
  li{
    display: block;
    position: relative;

    border-radius: 10px;
    padding: 10px;
    margin: 5px 0px 0px 5px;
    &.from {
      background-color: #ecf0f1;
    }
    &.to {
      background-color: #2980b9;
      color: white;
    }
    img{
      border-radius: 100px;
    }
  }
}
#send {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color:#95a5a6;
  margin-left: 240px;
  float: left;
  height: 100px;
  padding: 15px;
  textarea{
    position: relative;
    height: 100px;
    width: 60%;
    padding: 0;
  }
}
