$sidebar-main-color: #1A1D22;
$sidebar-highlight-color: #22262E;

.fixed_tab {
  position: fixed;
  display: inline;
  height: 40px;
  right: 0px;
  border-radius: 7px 0px 0px 7px;
  text-align: left;
  line-height: 40px;
  font-size: 1.25em;
  font-color: #555;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0 5px 0 5px;
  color: silver;
  background-color: #2C3E50;

  a {
    color: silver;
  }

  &:hover {
    background-color: #34495E
  }

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &.get_overview {
    top: 350px;
    width: 170px;
  }

  &.get_resources {
    top: 400px;
    width: 170px;
  }

  &.get_discussions {
    top: 450px;
    width: 170px;
  }

}

.active {
  background-color: #2980B9 !important;
}

.left_nav {
  display: none;
  overflow: auto;
  min-width: 150px;
  width: 250px;
  height: 100%;
  top:0px;
  left: 0px;
  margin: 0;
  // background-color: $sidebar-main-color;
  text-align: center;

  p {
    position: relative;
    margin: 20px 0 20px 0;
    font-weight: lighter;
    font-size: 2em;
  }

  .gravatar {
    position: relative;
    margin-top: 10px;
    clear: both;
    width: 100%;

    img { 
      border: 5px solid rgba(62, 68, 73, 0.61);
      border-radius: 125px;
      width: 70%;
    }
  }


  
  .mini-search {
    border-radius: 5px;
    margin: 20px auto 20px;
    padding: 10px;

    input {
      padding: 5px;
      color: white;
      background: none;
      margin-left: 5px;
      width: 90%;
      outline: none;
      border-radius: 15px; 
    }
  }

  .goals {
    text-align: left;
    margin: 0;
    padding: 10;
    font-size: 1.5em;
  
    h2 {
      color: silver;
      a {
        width: 100%;
      }
    }
  }
}

.top_nav {
  width: 80%;
  height: 30px;
  margin: 0 auto;

  ul {
    float: right;

    li {
      display: inline-block;
      margin-left: 25px;
    }

  }
}
