.modal {
  background:url('bg_gradient.jpg') no-repeat center center,url('bg_tile.jpg');
  color: #3498DB;
  width: 400px;

  .fields input, textarea, select {
    background: none;
    outline: none;
    margin: 10px 0 10px 0;
    width: 390px;
  }

  .fields textarea {
    height: 100px;
  }

  .fields select {
    height: 30px;
    color: #3498DB;
    border: none;
  }
  


  .submit_button input {
    margin: 10px 0 10px 0;
  }
}

#resource {
  
  .header {
    height: 80px;
    width: 100%;
    float: left;
    clear:both;

    .title {
      display: inline-block;
      height: 80px;

      h2 {
        float: left;
      }
    }

    .add_resource {
      display: inline-block;
      float: right;
      height: 80px;
      line-height: 80px;

      a {
        float: right;
        margin-top: 20px;
      }
    }
  }

  .filters {
    position: relative;
    clear: both;
    height: 30px;
    min-width: 700px;
    line-height: 30px;
    top: 20px;

    .btn-group {
      float: left;
      margin: 10px;
    }
  }

  .resources {
    position: relative;
    margin: 80px 0 20px 0;
    vertical-align: top;
  }

  .resource {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 0 0 4px 4px;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    p {
        border-radius: 4px 4px 0 0;
        position: absolute;
        width: 100%;
        visibility: visible;
        font-size: 1.2em;
        color: silver;
        background-color: rgba(26, 29, 34, 0.90);
        border: 1px solid;
        top: -40px;
    }

    ul.toolbar_options {
      display: none;
      top:218px;
      position: relative;
      width: 100%;
      text-align: center;
      background-color: rgba(26, 29, 34, 0.65);
      float: left;
      margin: 0;
      padding: 0;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          float: left;
          padding: 3px 0 3px 0;
          background-color: rgba(26, 29, 34, 0.65); 
          width: 25%;

          &:hover {
            background-color: lighten(rgba(26, 29, 34, 0.65),10%); 
          }

          &:last-child {
            border: none;
            height: 30px;
            font-size: 1.5em;
          }

          a {
            color: silver;
          }
      }
    }

    p {

    }
  }
}
