.modal {

  text-shadow: none;
  
  background-color: rgba(255, 255, 255, 0.90);

  label{
    color: #34495e;

  }
  input[type=text],input[type=url],input[type=number], textarea {
    color: silver;
    outline: none;
    background: rgba(39, 40, 43, 0.88);
    width: 325px;
  }

  .submit_button {
    text-align: center;
  }
}

#resource {
  
  .header {
    height: 80px;
    width: 100%;
    float: left;
    clear:both;

    .title {
      display: inline-block;
      height: 80px;

      h2 {
        float: left;
      }
    }

    .add_resource {
      display: inline-block;
      float: right;
      height: 80px;
      line-height: 80px;

      a {
        float: right;
        margin-top: 20px;
      }
    }
  }

  .filters {
    position: relative;
    clear: both;
    height: 30px;
    min-width: 700px;
    line-height: 30px;
    top: 20px;

    .btn-group {
      float: left;
      margin: 10px;
    }
  }

  .resources {
    position: relative;
    margin: 80px 0 20px 0;
    vertical-align: top;
  }

  .resource {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 9px;
    display: inline-block;

    p {
      position: absolute;
      bottom: 0px;
    }

    ul.toolbar_options {
      display: none;
      position: relative;
      width: 100%;
      text-align: center;
      background-color: rgba(26, 29, 34, 0.65);
      float: left;
      margin: 0;
      padding: 0;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          float: left;
          padding: 3px 0 3px 0;
          background-color: rgba(26, 29, 34, 0.65); 
          width: 25%;

          &:hover {
            background-color: lighten(rgba(26, 29, 34, 0.65),10%); 
          }

          &:last-child {
            border: none;
          }

          a {
            color: silver;
          }
      }
    }
}
}
