$hover : #7f8c8d;
$before-hover: #95a5a6;
$grey : #ecf0f1;

#stone{
	.resource {
	height: 100%;
	position: relative;
	background-color: teal;
	margin-bottom: 20px;

	width: 80%;
	height: 50px;
	min-width: 600px;
	padding: 10px;
	border-radius: 15px;
	border: 3px solid $before-hover;
	margin-bottom: 20px;
	background-color: $grey;
	overflow: hidden;


	.fb-share {
		line-height: 10px;
		margin-left: 15px;
		margin-top: 7px;
		font-size: 1.5em;
		color: #3B5998;
		&:hover { color: #4F6AA2; }
	}

	a {
		color: white;
		&:hover { text-decoration: none; }
	}

	* { 
		display: inline; 
		margin-top: -20px;
	}

	h4 { margin-top: -13px; }
		
	.text { 
		margin-top: 15px; 
		color: gray;
		z-index: 100;

		p {
			margin-top: 2px;
			margin-left: 20px;
			margin-right: 10px;
		}
		
		.description {
			margin-top: 20px;
			position: absolute;
			left: 10px;
			width: 320px;
		}
	}

	.icon-reorder {
		position: absolute;
		right: 15px;
		top: 40px;
		font-size: 2em;
	}


	&:hover { 
		border: 3px solid $hover; 
		.resource-photo-overlay {
			height: 70px;
			border-right: 3px solid $hover;
			border-top: 3px solid $hover;
			border-bottom: 3px solid $hover;
		}
	}

	.resource-photo {
		float: right;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		position: absolute;
		right: 45px;
		top: 18px;
	}

	.right-text {
		float: right;
		margin-top: 10px;
		margin-right: 200px;		
	}

	.time {
		float: left;
	}

}
	

.updown {
	font-family: FontAwesome;
	display: block;
	line-height: 10px;
	width: 15px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
	color: white;
	*{
		text-align: center;
		line-height: 16px;
		margin: 0px;
	}
	a:hover { color: #34495e; }
}

.beginner { color: #27ae60; }

.intermediate { color: #f1c40f; }

.advanced { color: #d35400; }

.expert { color: #c0392b; }



}
