#stone{
  .form{
    margin: 0 auto;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    clear: both;
    margin-bottom: 30px;

    .title {
      float: left;
      line-height: 60px;
      font-size: 2em;
    }

    .options {
      float: right;
      line-height: 60px;
    }
  }

  .description {
    font-size: 1.5em;
  }
}

#just_cuz {
  font-size: 45em;
}
