html {
  background-color: #222;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
  background-repeat: repeat;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
}

#main {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.meny {
  background:url('bg_gradient.jpg') no-repeat center center,url('bg_tile.jpg');
  height: 100%;
}

.content {
  margin: 20px auto;
  width: 70%;
}

li {
  list-style: none;
}


a, a:visited  {
  text-decoration: none;

  -webkit-transition: 0.15s color ease;
  -moz-transition: 0.15s color ease;
  -ms-transition: 0.15s color ease;
  -o-transition: 0.15s color ease;
  transition: 0.15s color ease;

  &:hover {

  }
  
  text-decoration:none;
  outline:none;
}

small {
  display: block;
  margin-top: 15px;
  padding-top: 15px;
  color: #333;
  font-size: 0.85em;
  border-top: 1px dashed #ccc;

  -webkit-text-size-adjust: none;
}

#signin, #signup {
  .form {
    margin: 40px auto;
  }

}

.form {
  
  position: relative;
  width: 400px;

  form {
    margin-top: 20px;
  }

  .fields input, textarea {
    background: none;
    outline: none;
    margin: 10px 0 10px 0;
    width: 400px;
  }

  .submit_button input {
    margin: 10px 0 10px 0;
  }

}

.parsley-error{
  border-color: rgb(209, 152, 152) !important;
}

.hidden {
  display: none;
}



