.top_nav
  - unless controller_name == 'home'
    = link_to root_path do
      = image_tag( "logo_width_adjusted.png", class: 'brand' )
  %ul
    - if !user_signed_in?
      %li
        = link_to '<i class="icon-signin"></i> Login'.html_safe, new_user_session_path
      %li
        = link_to '<i class="icon-pencil"></i> Register'.html_safe, new_user_registration_path
