.top_nav
  %ul
    - if !user_signed_in?
      %li
        = link_to '<i class="icon-signin"></i> Login'.html_safe, new_user_session_path, class: "btn btn-inverse"
      %li
        = link_to '<i class="icon-pencil"></i> Register'.html_safe, new_user_registration_path, class: "btn btn-inverse"
